$color-banner: linear-gradient(45deg, rgba(32, 195, 208, 0.11) 50%, rgba(82, 34, 208, 0.11) 100%);
$color-text: #606060;
$padding-main__container: 0 100px 100px;
$section-title-fontsize: 36px;
$additional-fontsize: 21px;